<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="data">

    <!-- Position Column -->
    <ng-container matColumnDef="person">
      <th mat-header-cell *matHeaderCellDef> Person </th>
      <td mat-cell *matCellDef="let element"> {{element.person.firstName + " " + element.person.lastName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="block">
      <th mat-header-cell *matHeaderCellDef> Block </th>
      <td mat-cell *matCellDef="let element"> {{element.person.block.number}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="roomNumber">
      <th mat-header-cell *matHeaderCellDef> Room Number </th>
      <td mat-cell *matCellDef="let element"> {{element.person.roomNumber}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="car">
      <th mat-header-cell *matHeaderCellDef> Car </th>
      <td mat-cell *matCellDef="let element"> {{element.car.model.valueEn + " " + element.car.number}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status.valueEn}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
